{% extends "layout.html.twig" %}

{% block content %}
    Welcome to profiler example site based on Silex Application!
    <a href="/indirect_recursion_method/?XDEBUG_PROFILE">Непрямая рекурсия</a>
    <a href="/long_method/?XDEBUG_PROFILE">Метод со sleep</a>
    <a href="/recursive_method/?XDEBUG_PROFILE">Обычный рекурсивный метод</a>
{% endblock %}
